<div class="jumbotron">
  <h1>Your Tamagotchi!</h1>
  <form action="/tamagotchi/new" method="post">
    <div class="form-group">
      <label for="tamagotchi-name"></label>
      <input id="tamagotchi-name" name="tamagotchi-name" type="text" class="form-control" autofocus>
    </div>

    <button type="submit" name="submit-button">Create your new best friend!</button>
  </form>
  <a href="/tamagotchi/fast-forward"><button type="button" name="time-button">Fast Forward</button></a>
  <a href="/tamagotchi/pause"><button type="button" name="pause-button">Pause</button></a>
  <br>
  <a href="/tamagotchi/clear"><button type="button" name="clear-button">Bury Pets :C</button></a>
</div>
